In [11]:
import hmmlearn
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

%matplotlib inline

In [12]:
# initial data cleaning
# file_path = "data/2015_Air_quality_in_northern_Taiwan.csv"
# df = pd.read_csv(file_path, parse_dates=["time"],index_col="time")
# df.iloc[:,1:] = df.iloc[:,1:].apply(lambda x: pd.to_numeric(x,errors='coerce'),axis=1).copy()
# df.to_csv("data/2015_removed_marked_data.csv", index=False)

# final data used
file_path = "data/2015_removed_marked_data.csv"
df = pd.read_csv(file_path)
df.head()

,station,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,PH_RAIN,...,RAINFALL,RAIN_COND,RH,SO2,THC,UVB,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR
0,Banqiao,16.0,2.1,0.79,0.14,1.2,16.0,17.0,37.0,NaN,...,NaN,NaN,57.0,12.0,2.2,0.0,69.0,69.0,4.7,4.2
1,Banqiao,16.0,2.1,0.80,0.15,1.3,16.0,17.0,36.0,NaN,...,NaN,NaN,57.0,11.0,2.2,0.0,67.0,65.0,4.0,4.0
2,Banqiao,16.0,2.1,0.71,0.13,1.0,13.0,14.0,38.0,NaN,...,NaN,NaN,57.0,8.0,2.2,0.0,63.0,53.0,3.7,3.5
3,Banqiao,15.0,2.0,0.66,0.12,0.8,11.0,12.0,39.0,NaN,...,NaN,NaN,58.0,6.5,2.2,0.0,63.0,63.0,4.1,3.3
4,Banqiao,15.0,2.0,0.53,0.11,0.6,10.0,11.0,38.0,NaN,...,NaN,NaN,58.0,5.5,2.1,0.0,69.0,67.0,3.0,3.1